<div class="searchBar">
  <div class="container">
    <form action="/search" method="GET" class="searchBar__form">
      <input
        type="text"
        name="q"
        class="searchBar__input"
        placeholder="Search..."
        aria-label="Search"
      />
      <button type="submit" class="searchBar__submit">Close</button>
    </form>
  </div>
</div>
