<div class="author">
  <h2 class="author__heading">Hello, I'm Developer.</h2>
  <p class="author__body">Web Developer and Student</p>
</div>

<img src="img/apple.jpeg" alt="apple" class="homepage-image" />

<section class="articles">
  <h2 class="articles__heading">Latest Articles</h2>

  <!-- Dummy data displayed until we include posts later on -->
  <ul class="article_ul">
    <li>
      <a href="#">
        <span>Post title</span>
        <span class="article-list_date">Date</span>
      </a>
    </li>
  </ul>
  <a href="#" class="pagination"> &lt; View Older Posts </a>
</section>
